@import "_breakpoints", "_functions", "_variables";
//++++Color Variables++++//
$colors: (
  font-white: #fff,
  bgcolorlight: #f7f7f7,
  bgcolordark: #ececec,
  font-dark: #1b1b1b,
  snow-white: #fafafa
);
@function color($color-name) {
  @return map-get($colors, $color-name);
}
//++++Variable Breakpoints++++//
@mixin breakpoint($point) {
  @if $point=xlr {
    @media (max-width: 1199px) {
      @content;
    }
  }
}
//++++Fonts++++//
@font-face {
  font-family: "Circular Std";
  src: local("Circular Std Medium"), local("../fonts"),
    url("../fonts/CircularStd-Medium.woff2") format("woff2"),
    url("../fonts/CircularStd-Medium.woff") format("woff"),
    url("../fonts/CircularStd-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Circular Std";
  src: local("Circular Std Book"), local("../fonts"),
    url("../fonts/CircularStd-Book.woff2") format("woff2"),
    url("../fonts/CircularStd-Book.woff") format("woff"),
    url("../fonts/CircularStd-Book.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
$heaingFont: "Circular Std", sans-serif;
//++++Keyframes++++//
@keyframes colorchange {
  0% {
    background: #667eea;
  }
  30% {
    background: #764ba2;
  }
  60% {
    background: #00cdac;
  }
  100% {
    background: #3cba92;
  }
}
@-webkit-keyframes colorchange {
  0% {
    background: #667eea;
  }
  30% {
    background: #764ba2;
  }
  60% {
    background: #00cdac;
  }
  100% {
    background: #3cba92;
  }
}
@keyframes shape {
  0% {
    opacity: 0.5;
    transform: scale(0) rotate(0) translate(-50%, -50%);
  }
  100% {
    opacity: 0;
    transform: scale(20) rotate(960deg) translate(-50%, -50%);
  }
}
@-webkit-keyframes shape {
  0% {
    opacity: 0.5;
    transform: scale(0) rotate(0) translate(-50%, -50%);
  }
  100% {
    opacity: 0;
    transform: scale(20) rotate(960deg) translate(-50%, -50%);
  }
}
//++++General CSS++++//
html,
body {
  width: 100%;
  overflow-x: hidden;
  font-family: $heaingFont;
  font-weight: normal;
  margin: 0;
  color: color(font-dark);
  font-size: 16px;
  @include media-breakpoint-down(sm) {
    font-size: 15px;
  }
}
p {
  letter-spacing: 0.25px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heaingFont;
  font-weight: 500;
}
a {
  &:hover,
  &:focus {
    text-decoration: none;
    outline: none;
  }
}
input,
select,
textarea {
  background: #f7f7f7;
  border: none;
  padding: 12px 15px;
  margin: 0 0 15px;
  width: 100%;
  font-weight: 300;
  &:focus {
    border: 0;
    outline: none;
  }
}
textarea {
  resize: none;
}
input[type="search"]::-webkit-search-cancel-button {
  position: relative;
  display: none;
}
select {
  -webkit-appearance: none;
  appearance: none;
}
input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  & + label {
    display: flex;
    align-items: center;
    &:before {
      content: "";
      width: 20px;
      height: 20px;
      margin-right: 10px;
      // background: color(bgcolor);
      // border: 1px solid darken(color(bgcolor), 25%);
      cursor: pointer;
      transition: 0.3s ease;
      border-radius: 4px;
    }
    .tick {
      position: absolute;
      stroke: color(font-white);
      stroke-width: 2px;
      stroke-dasharray: 17px;
      stroke-dashoffset: 17px;
      transition: 0.2s 0.1s ease;
      cursor: pointer;
    }
  }
  &:checked {
    & + label {
      &::before {
        background: #56ccf2;
        background: linear-gradient(-60deg, #2f80ed, #56ccf2);
      }
      .tick {
        stroke-dashoffset: 0;
      }
    }
  }
  &:focus {
    & + label {
      &:before {
        border-color: none;
        outline: none;
      }
    }
  }
}
[type="radio"]:checked,
[type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label {
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
  color: color(font-dark);
  font-weight: 300;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  // border: 1px solid darken(color(bgcolor), 15%);
  border-radius: 100%;
  background: color(font-white);
}
input[type="radio"]:checked + label:after,
input[type="radio"]:not(:checked) + label:after {
  content: "";
  width: 12px;
  height: 12px;
  background: #56ccf2;
  background: linear-gradient(-60deg, #2f80ed, #56ccf2);
  position: absolute;
  top: 3px;
  left: 3px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
input[type="radio"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}
input[type="radio"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}
p {
  line-height: 25px;
}
.snowWhite {
  background: color(snow-white);
}
.gradientText {
  background: #e3b552;
  background: linear-gradient(to bottom, #d69a30 0%, #e3b552 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.whiteBtn {
  background: color(font-white);
  padding: 12px 22px;
  font-size: 17px;
  border-radius: 4px;
  width: max-content;
  font-weight: 500;
  letter-spacing: 1px;
}
.sectionWrapper {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 20px;
}
.gradientBtn {
  background: #e1bc41;
  background: linear-gradient(to right, #e1bc41 0%, #e0c668 100%);
  color: color(font-white);
  font-size: 16px;
  width: max-content;
  border-radius: 4px;
  padding: 13px 22px;
  box-shadow: 0 4px 22px 1px rgba(202, 202, 202, 0.29);
  letter-spacing: 0.5px;
  font-weight: 500;
  transition: all 0.4s ease-in;
  &:focus {
    color: color(font-white);
  }
  &:hover {
    color: color(font-white);
    box-shadow: 0 6px 24px 8px rgba(202, 202, 202, 0.31);
    transition: all 0.4s ease-in;
  }
}
//++++slick dots++++//
.slick-dots {
  bottom: 22px;
  li {
    margin: 0;
    width: 8px;
    height: 8px;
    button {
      padding: 0;
      &:before {
        content: " ";
        background: color(font-white);
        width: 8px;
        height: 8px;
        border-radius: 100%;
      }
    }
    &.slick-active {
      width: 22px;
      position: relative;
      top: 2px;
      button {
        &:before {
          width: 22px;
          height: 4px;
          border-radius: 38px;
          opacity: 1;
        }
      }
    }
  }
  li + li {
    margin-left: 10px;
  }
}
//++++header++++//
.siteHeader {
  padding: 20px 0;
  background: color(font-white);
  .logoWrapper {
    img {
      width: 220px;
      @include media-breakpoint-down(sm) {
        width: 150px;
      }
    }
  }
  .gradientBtn {
    @include media-breakpoint-down(sm) {
      padding: 11px 16px;
      font-size: 14px;
    }
  }
  &.sticky {
    width: 100%;
    background: color(font-white);
    // background: #ffffff1a;
    position: fixed;
    // backdrop-filter: saturate(180%) blur(45px);
    top: 0;
    z-index: 99;
    padding: 10px 0;
    box-shadow: 0 6px 24px 8px rgba(202, 202, 202, 0.31);
  }
}
//++++footer++++//
.absoluteFooter {
  padding: 10px 0;
  p {
    font-size: 15px;
    opacity: 0.8;
    @include media-breakpoint-down(sm) {
      text-align: center;
    }
  }
  .socialIconsWrap {
    justify-content: flex-end;
    .iconWrap + .iconWrap {
      margin-left: 8px;
    }
    @include media-breakpoint-down(sm) {
      justify-content: center;
      margin-top: 5px;
    }
    .iconWrap {
      img {
        filter: grayscale(100%) invert(1);
        opacity: 0.7;
      }
    }
  }
}
//++++index++++//
.mainWrapper {
  .backgroundImages {
    position: fixed;
    left: 0;
    top: 0;
    color: color(font-white);
    .content {
      position: absolute;
      width: 100%;
      padding: 0 50px;
      top: 50%;
      transform: translateY(-50%);
      z-index: 2;
      height: auto;
      h1 {
        margin-bottom: 5px;
        font-size: 34px;
      }
      h2 {
        margin-bottom: 12px;
        font-size: 34px;
      }
      p {
        font-size: 17px;
        margin: 0 0 18px;
      }
    }
    .artistsTypeWrap {
      .artistTypeItem {
        height: 100vh;
        margin-bottom: -7px;
        &:before {
          content: "";
          position: absolute;
          background: rgba(0, 0, 0, 0.28);
          background: linear-gradient(
            to bottom,
            rgba(0, 0, 0, 0.28) 0%,
            rgba(0, 0, 0, 0.1) 50%,
            rgba(0, 0, 0, 0.28) 100%
          );
          width: 100%;
          height: 100%;
          left: 0;
          top: 0;
        }
        img {
          width: 100%;
          object-fit: cover;
          object-position: center;
          height: 100vh;
        }
      }
    }
  }
  .bottomContent {
    position: fixed;
    width: 100%;
    padding: 0 50px;
    bottom: 2%;
    z-index: 2;
    height: auto;
    color: color(font-white);
    @include media-breakpoint-down(md) {
      position: relative;
      color: color(font-dark);
      padding: 0 30px 15px;
    }
    @include media-breakpoint-down(sm) {
      flex-wrap: wrap;
      text-align: center;
    }
    p {
      @include media-breakpoint-down(md) {
        opacity: 0.8;
      }
      @include media-breakpoint-down(sm) {
        max-width: 100%;
        flex-basis: 100%;
        font-size: 15px;
      }
    }
    .socialIconsWrap {
      a + a {
        margin-left: 10px;
      }
      a {
        img {
          @include media-breakpoint-down(md) {
            filter: grayscale(100%) invert(1);
            opacity: 0.7;
          }
        }
      }
      @include media-breakpoint-down(sm) {
        max-width: 100%;
        margin: 10px 0 0;
        justify-content: center;
        flex-basis: 100%;
      }
    }
  }
  .logoWrapper {
    position: fixed;
    padding: 0 40px;
    left: 0;
    top: 4%;
    @include media-breakpoint-down(md) {
      position: relative;
      padding: 30px 10px 0;
      top: 0%;
    }
    img {
      width: 220px;
    }
  }
  .plainBackground {
    background: color(font-white);
    padding: 40px 70px;
    margin-left: auto;
    @include media-breakpoint-down(md) {
      padding: 22px 30px 40px;
    }
    @include media-breakpoint-down(sm) {
      padding: 22px 20px 40px;
    }
    h2 {
      width: max-content;
      font-size: 40px;
      position: relative;
      letter-spacing: 1px;
      margin: 0 0 12px;
      padding: 0 0 18px;
      &:before,
      &:after {
        content: "";
        width: 35%;
        position: absolute;
        background: #e1bc41;
        background: linear-gradient(to right, #e1bc41 0%, #e0c668 100%);

        bottom: 0;
        height: 3.5px;
        border-radius: 50px;
        left: 0;
      }
      &:after {
        width: 13%;
        left: 38%;
      }
    }
  }
}
.whatsapp-link {
  z-index: 10;
  right: 2%;
  bottom: 4%;
}
//++++thankyou++++//
.thankYouWrap {
  .thankYouRow {
    height: 100vh;
    .thankYouBlock {
      box-shadow: 0 10px 30px 20px rgba(141, 151, 158, 0.2);
      padding: 20px 25px;
      border-radius: 10px;
      @include media-breakpoint-down(sm) {
        padding: 25px 15px;
      }
      .logo {
        img {
          left: -8px;
        }
      }
      h1 {
        font-size: 40px;
      }
      .btnGradient {
        margin: 15px auto 0;
        padding: 10px 25px 10px 20px;
        img {
          position: relative;
          top: -1px;
        }
      }
    }
  }
}
//++++about++++//
.aboutWrapper {
  .aboutContent {
    padding: 0 40px;
    @include media-breakpoint-down(md) {
      padding: 45px 40px;
    }
    @include media-breakpoint-down(sm) {
      padding: 35px 20px;
    }
    &:before {
      content: "";
      position: absolute;
      background: url("../images/dots.png");
      width: 40%;
      height: 40%;
      top: -10%;
      background-size: contain;
      background-repeat: no-repeat;
      left: 4%;
      opacity: 0.4;
      z-index: -3;
      @include media-breakpoint-down(md) {
        width: 17%;
        height: 40%;
        top: 0%;
      }
      @include media-breakpoint-down(sm) {
        width: 25%;
        height: 19%;
        top: 4%;
      }
    }
  }
  img {
    height: calc(100vh - 139.5px);
    @include media-breakpoint-down(md) {
      height: 375px;
      width: 100%;
      object-fit: cover;
      object-position: top;
    }
  }
}
//++++user account++++//
.userAccount {
  .profileBannerWrapper {
    position: relative;
    .profileBanner {
      position: relative;
      overflow: hidden;
      background: #e3b552;
      background: linear-gradient(to bottom, #d69a30 0%, #e3b552 100%);
      padding: 50px 50px 175px;
      color: color(font-white);
      @include media-breakpoint-down(sm) {
        padding: 50px 20px 175px;
      }
      &.hasNoImage {
        padding: 50px 50px 140px;
        @include media-breakpoint-down(sm) {
          padding: 50px 20px 140px;
        }
      }
      #site_particles {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
      }
      .details {
        @include media-breakpoint-down(md) {
          flex-wrap: wrap;
        }
      }
      .imgWrap {
        z-index: 9;
        @include media-breakpoint-down(sm) {
          max-width: 100%;
          flex-basis: 100%;
        }
        img {
          width: 175px;
          height: 175px;
          object-fit: cover;
          box-shadow: 0 6px 24px 8px rgba(0, 0, 0, 0.21);
          object-position: top;
          border-radius: 6px;
          @include media-breakpoint-down(sm) {
            width: 100%;
            height: 340px;
          }
        }
      }
      .content {
        max-width: 40%;
        flex-basis: 40%;
        padding-left: 25px;
        z-index: 9;
        @include media-breakpoint-down(md) {
          max-width: 70%;
          flex-basis: 70%;
        }
        @include media-breakpoint-down(sm) {
          padding: 20px 0 0;
          max-width: 100%;
          flex-basis: 100%;
        }
        h1 {
          font-size: 32px;
          margin: 0px 0 5px;
        }
        h3 {
          font-size: 20px;
          margin: 0 0 5px;
        }
      }
      .buttons {
        margin-left: auto;
        z-index: 9;
        @include media-breakpoint-down(md) {
          margin: 25px 0 0;
          max-width: 100%;
          flex-basis: 100%;
        }
        .whiteBtn {
          font-size: 14px;
          box-shadow: 0 4px 22px 1px rgba(0, 0, 0, 0.08);
          transition: all 0.4s ease;
          &:hover {
            box-shadow: 0 6px 24px 8px rgba(0, 0, 0, 0.11);
          }
        }
      }
      .shape-wrapper {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
        .shape {
          animation: 15s ease-in 0s normal forwards infinite running shape;
          border: 2px solid #fff;
          box-shadow: 0 0 20px 10px #e0c566;
          height: 10px;
          left: 0;
          position: absolute;
          top: 0;
          transform: scale(0) rotate(0) translate(-50%, -50%);
          transform-origin: left top 0;
          width: 10px;
          &:nth-child(2) {
            animation-delay: 4s;
            left: 75vw;
            top: 50%;
          }
          &:nth-child(2n) {
            border-style: solid;
            border-width: 0 3px 5.2px;
            box-shadow: 0 0 20px #00397f;
            border-color: transparent transparent #fff;
            height: 0;
            width: 0;
          }
          &:nth-child(3) {
            animation-delay: 4s;
            left: 25vw;
            top: 40%;
          }
          &:nth-child(4) {
            animation-delay: 6s;
            left: 90vw;
            top: 10%;
          }
          &:nth-child(5) {
            animation-delay: 8s;
            background-color: #fff;
            border: 0;
            left: 10vw;
            top: 85%;
          }
          &:nth-child(6) {
            animation-delay: 10s;
            left: 50vw;
            top: 100%;
          }
          &:nth-child(7) {
            animation-delay: 10s;
            left: 87vw;
            top: 80%;
          }
        }
      }
    }
    .gallery {
      top: -140px;
      .slick-slide {
        padding: 0 10px;
        &:first-child {
          padding-left: 0;
          div {
            display: inline-block;
            &:before {
              content: "";
              padding-left: 50px;
              display: inline-block;
            }
          }
        }
        a {
          margin: 20px 0;
          max-width: 200px;
          position: relative;
          background: transparent;
          border-radius: 6px;
          box-shadow: 0 6px 24px 8px rgba(0, 0, 0, 0.21);
          img {
            max-width: 100%;
            width: 200px;
            height: 225px;
            object-fit: cover;
            object-position: center;
            border-radius: 6px;
          }
        }
      }
    }
  }
}
.userDetailsWrap {
  margin-top: -100px;
  padding: 50px 50px 120px;
  @include media-breakpoint-down(sm) {
    padding: 10px 20px 50px;
  }
  &.pushUp {
    padding: 0 50px 120px;
    @include media-breakpoint-down(sm) {
      padding: 0px 20px 50px;
    }
  }
  a {
    display: block;
    color: color(font-dark);
    width: max-content;
    padding: 8px 22px;
    margin: 0 0 13px;
    border-radius: 36px;
    background-color: color(bgcolorlight);
    transition: all 0.4s ease-in;
    @include media-breakpoint-down(sm) {
      font-size: 14px;
    }
    &:hover {
      background-color: color(bgcolordark);
      transition: all 0.4s ease-in;
    }
    &:last-child {
      margin: 0;
    }
  }
  h2 {
    margin: 0 0 25px;
    @include breakpoint(xlr) {
      font-size: 24px;
    }
    @include media-breakpoint-down(sm) {
      font-size: 22px;
    }
  }
  .leftCol {
    background: color(font-white);
    padding: 25px 35px;
    box-shadow: 0 4px 22px 1px rgba(0, 0, 0, 0.08);
    border-radius: 6px;
    @include breakpoint(xlr) {
      padding: 25px 20px;
    }
  }

  .rightCol {
    padding-left: 45px;
    @include breakpoint(xlr) {
      padding-left: 35px;
    }
    @include media-breakpoint-down(md) {
      padding-left: 0;
      margin-top: 35px;
    }
    .educationQualification {
      background: color(font-white);
      padding: 23px 35px;
      box-shadow: 0 4px 22px 1px rgba(0, 0, 0, 0.08);
      border-radius: 6px;
      @include breakpoint(xlr) {
        padding: 23px 25px;
      }
      .educationDetails {
        img {
          width: 60px;
          height: 60px;
        }
        .content {
          padding-left: 20px;
          h3 {
            font-size: 20px;
            margin: 0 0 5px;
            @include media-breakpoint-down(sm) {
              font-size: 18px;
            }
          }
          p {
            margin: 0 0 5px;
            line-height: 20px;
            &:last-child {
              margin: 0;
            }
          }
        }
      }
    }
    .forte {
      margin: 45px 0 0;
      background: color(font-white);
      padding: 23px 35px;
      box-shadow: 0 4px 22px 1px rgba(0, 0, 0, 0.08);
      border-radius: 6px;
      @include breakpoint(xlr) {
        margin: 35px 0 0;
        padding: 23px 25px;
      }
      a {
        display: inline-block;
        margin: 0 8px 13px 0;
      }
    }
  }
}
.navWrapAchieve {
  .slick-slide {
    height: auto;
    padding: 0;
    top: 58%;
    @include media-breakpoint-down(md) {
      top: 65%;
    }
    @include media-breakpoint-down(sm) {
      top: 76%;
    }
    span {
      display: block;
      padding: 10px;
      background: color(font-dark);
      box-shadow: 0 6px 24px 8px rgba(0, 0, 0, 0.21);
      border-radius: 10px;
      img {
        width: 20px;
        height: 20px;
      }
    }
    &.slick-disabled {
      opacity: 0;
    }
    &.slick-prev {
      &:before {
        content: "";
      }
      left: 5%;
    }
    &.slick-next {
      right: 5%;
      &:before {
        content: "";
      }
    }
  }
}
//++++accounts list++++//
.accountsList {
}
.relatedAccounts {
  padding: 0 0 80px;
  .headingRelated {
    padding: 0 50px;
    margin-bottom: 20px;
    @include media-breakpoint-down(sm) {
      padding: 0 20px;
    }
    h2 {
      margin-bottom: 0px;
      font-size: 35px;
      @include media-breakpoint-down(sm) {
        font-size: 22px;
      }
    }
    a {
      color: color(font-dark);
      img {
        filter: grayscale(100%) invert(1);
        width: 13px;
        margin-left: 5px;
        top: -1px;
      }
    }
  }

  .accounts {
    .slick-slide {
      padding: 0 10px;
      &:first-child {
        padding-left: 0;
        div {
          display: inline-block;
          &:before {
            content: "";
            padding-left: 50px;
            display: inline-block;
          }
        }
      }
      a {
        margin: 20px 0;
        max-width: 300px;
        position: relative;
        background: transparent;
        border-radius: 6px;
        box-shadow: 0 6px 24px 8px rgba(0, 0, 0, 0.21);
        @include media-breakpoint-down(md) {
          max-width: 200px;
        }
        &:before {
          content: "";
          position: absolute;
          background: #0000003d;
          background: linear-gradient(
            0deg,
            rgba(2, 0, 36, 0.54) 0%,
            rgba(255, 255, 255, 0) 25%
          );
          width: 100%;
          border-radius: 6px;
          height: 100%;
          left: 0;
          top: 0;
        }
        .content {
          color: color(font-white);
          position: absolute;
          bottom: 7%;
          width: 100%;
          height: auto;
          padding: 0 25px;
          h2 {
            font-size: 22px;
            margin: 0 0 5px;
            @include media-breakpoint-down(sm) {
              font-size: 18px;
            }
          }
          h3 {
            font-size: 18px;
            margin: 0;
            @include media-breakpoint-down(sm) {
              font-size: 15px;
            }
          }
        }
        img {
          max-width: 100%;
          width: 300px;
          height: 325px;
          object-fit: cover;
          object-position: center;
          border-radius: 6px;
          @include media-breakpoint-down(md) {
            width: 200px;
            height: 225px;
          }
        }
      }
    }
  }
  .navWrapAchieve {
    .slick-slide {
      top: 50%;
    }
  }
}
